### Markdown Basics

- **Bold**
- *Italic*
- ***IB***
- Normal text
     - Sublist1
     - Sublist2
     
          1.OrderedlistElement1
          2.OrderedlistElement2
          
 - [] Option1
 - [] Option2
 - [x]Option3
 
I get 10 times more traffic from [Google](https://google.com) than from [Yahoo](https://Yahoo.com) or [MSN.](https:MSN.com)

printf("Hello Markdown")

https://google.com


markdown@google.com

[Jupyter Logo](hi.png)

#### Python Basics
 Python version 3.7

- Scripting
- Object Oriented
- Functional

In [2]:
# Python Comments

print("Good Afternoon", "!", end="||") # Basic Output
print("Hello Python")

Good Afternoon !||Hello Python

### Assignment

In [3]:

n1 = 123456 # Single Variable Assignment

n2 = n3 = n4 = n1 # Multi Variable Assignment of the same value

a, b, c = 123, 234, 345 # Multi Variable Assigment with different values

print(a, b, c)

123 234 345

#### Data Types and Conversion
- int
- float
- string

In [4]:
type(a)
s1 = "Python"
type(s1)

f1 = 12.345
type(f1)

float(str(int(f1)))

12.0

### Arithmetic Operations
- +
- -
- *
- /
- %

In [3]:
n1 = 123456 # Single Variable Assignment

n2 = n3 = n4 = n1 # Multi Variable Assignment of the same value

n1 % 11

n3 = n2 ** 12

type(n3)
len(str(n3))

atoms = 10 ** 82
len(str(atoms))
type(str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

### Conditionals

In [4]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [5]:
# Check if a number is Even

n = 123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [6]:
# Find the greatest of 3 numbers

n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
n3 = int(input("Enter the third number"))

if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

Enter the first number12
Enter the second number23
Enter the third number22
23 is the greatest

In [7]:
# Check if a year is a Leap year
year = 1234
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Not a Leap Year

In [8]:
# Check if a number exists in a given range(inclusive)

n1 = 123
lb = 50
ub = 150

if n1 >= lb and n1 <= ub:
    print("Number exists in the given range")
else:
    print(n1, "does not exist in the given range")

Number exists in the given range

In [9]:
# Calculate the number of digits in a number
n1 = 134245925
print(len(str(n1)))

9

In [10]:
# Check if a number is a multiple of 10
if n % 10 == 0:
    print(n1, "is a multiple of 10")
else:
    print(n1, "is not a multiple of 10")

134245925 is not a multiple of 10

In [11]:
# Check if a number is a factor of 1000
if 1000 % n1 == 0:
    print(n1, "is a factor of 10")
else:
    print(n1, "is not a factor of 10")

134245925 is not a factor of 10

In [12]:
# Check if given string is equal to a number
s1 = "python"
n1 = 123456
if str(n1) == s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not equal to", s1)

123456 is not equal to python

In [13]:
# Calculate the Square root of a number without functions
n1 = 123
n1 ** 0.5

11.090536506409418

In [14]:
# Calculate the number of nano seconds in a 
#given year(considering leap year logic)
year = 2016
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print(366 * 24 * 60 * 60 * (10**9))
else:
    print(365 * 24 * 60 * 60 * (10**9))

31622400000000000