## Problem Solving and Programming
#### Date 12 June 2019
#### String Slicing
#### Day Objectives 
- Functions in Python
- Basic Problems related to conditional statements using functions
- Iteration in Python
- Problemset for practice

##  String Slicing

In [22]:
s1 = "Python"
s1[0] # Accessing the first character in a string
s1[1] # Accessing the second character in a string
s1[len(s1)-1] # Accessing the last character in a string
s1[-1] # Another way of accessing the last character
s1[-2] # Accessing the penulatimate character in a string
s1[0:2] # Accessing the first 2 characters in string
s1[-2:] # Accessing the last 2 characters in string
s1[4:] # Accessing all characters 5th character to end of string
s1[1:-1] # Accessing all characters except first and last in string
s1[len(s1)//2] # Accessing the middle characters in string
s1[-1::-1] # reverse of a string
s1[-1:-3:-1] # Accessing last two characters in reverse order
# Reverse the middle two characters in an even length string
s1[len(s1)//2:len(s1)//2-2:-1]
# Accessing alternate characters in a string
# "python" -> "pto"
s1[::2]
# Accessing alteranate characters of a string in reverse order
# "Python" -> "nhy"
s1[::-2]
s1[::-1]

'nohtyP'

## Functions

In [21]:
# Function to reverse a string
def reverseString(s):
    return s[::-1]

reverseString("Python")

'nohtyP'

In [27]:
# Function to check if a string is a palindrome
def palindrome(s):
    if s==s[::-1]:
        return True
    else:
        return False
palindrome("121")

True

In [3]:
# Function to check if a given year is a leap year
def isLeapYear(year):
    if(year % 400 == 0 or (year % 100 !=0 and year % 4 == 0)):
        return True
    return False
isLeapYear(2016)

True

In [43]:
# Function to Count the Number of digits in given number
def countDigits(n):
    return len(str(n))
countDigits(1345489075)

10

In [44]:
# Function to identify the greatest of 4 numbers
def greatest (n1,n2,n3,n4):
    if (n1>n2 and n1>n3 and n1>n4):
        return n1
    elif (n2>n3 and n2>n4):
        return n2
    elif (n3>n4):
        return n3
    return n4
greatest(20,100,24,2500)

2500

### Iteration

- for 
- while

##### For Loop in Python

[101,210]      (inclsuive,exclusive)
for i in range(101,211):
    print i
    
o/p:-
 101
 102
 .
 .
 210
 for i in range (lb,ub+1)
 here inclusive means add +1 to the number

In [4]:
# Function print n natural numbers

def numbers(n):
    for counter in range(1, n+1):
        print(counter, end=" ")
    print()
    return
    
numbers(15)
numbers(10)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10

In [5]:
# Function to print N Natural numbers using a while loop
def nNaturalNumbers(n):
    counter = 1

    while counter <= n:
        print (counter, end=" ")
        counter = counter + 1
    return
nNaturalNumbers(10)

1 2 3 4 5 6 7 8 9 10

In [14]:
# Function to print the alternate values in a range in the same line
#[500,550] -> 500,502,504...550 
#square brackets represents inclusive & normal brackets represens exclusive set in mathematics
#alterante values means leaving one go to the next
#(500,550) -> 501,503,505....549
#range(500,550)-> 500 501 502 .... 549
# All set based functions in Python have start
def alternatevalues(start, end):
    for counter in range(start, end+1):
        print(counter , end =" ")
    return
alternatevalues(500,550)

500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550

In [15]:
# Function to print the alternate values in a range in the same line
#[500,550] -> 500,502,504...550 
def alternatevalues(start, end):
    for counter in range(start, end+1, 2):
        print(counter , end =" ")
    return
alternatevalues(500,550)

500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550

In [19]:
def alternatevalues(start, end):
    for counter in range(start, end+1, 4):
        print(counter , end =" ")
    return
alternatevalues(500,550)

500 504 508 512 516 520 524 528 532 536 540 544 548

In [31]:
# Function to print reverse of given range in the same line
def reverserange(start, end):
    for counter in range(end,start-1,-1):
        print(counter , end =" ")
    return
reverserange(500,550)

550 549 548 547 546 545 544 543 542 541 540 539 538 537 536 535 534 533 532 531 530 529 528 527 526 525 524 523 522 521 520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501 500

In [34]:
#Function to print the odd numbers in reverse order in the same line
def reverseoddrange(start, end):
    for counter in range(end,start-1, -1):
        if(counter%2!=0):
            print(counter , end =" ")
    return
reverseoddrange(500,550)

549 547 545 543 541 539 537 535 533 531 529 527 525 523 521 519 517 515 513 511 509 507 505 503 501

In [1]:
#Function to calculate the sum of numbers in a range
def sumofrange(start, end):
    sum=0
    for counter in range(start,end+1):
        sum = sum+counter
    return sum
sumofrange(100,200)

15150

In [10]:
#Function to calculate the average of a given range
def averagerange(start, end):
    sum=0
   # count=0
    for i in range(start,end+1):
        sum = sum+i # sum calculation
        #count+=1    # counting number of values
    return sum/(end-start+1)
averagerange(1,10)

5.5

In [8]:
# Function to generate the leap years count in a given time period
def leapyear(start,end):
    counter=0
    for i in range (start,end+1):
        if (i%400==0 or (i%4==0 and i%100!=0)):
            counter+=1
    return counter
    
leapyear(2000,2020)

6

In [13]:
# Function to generate the leap years in a given time period
def generateLeapYears(start,end):
    for year in range (start,end+1):
        if isLeapYear (year):
            print(year,end=" ")
    return
generateLeapYears(1919,2019)

1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016

In [131]:
#Calcualte number of days in a givne time period using leapyear logic
def numberofdays(startyear,endyear):
    sum=0
    for year in range (startyear,endyear+1):
        if isLeapYear (year):
            sum= sum + 366
        else:
            sum=sum + 365
    return sum
numberofdays(1920,1921)

731

In [5]:
# Function to calculate number of hours for a given period 
#(11,1975,03,1999)->204504
#mathematical logic: 
#number of hours(5,2019,6,2019) ->1464 (61*24)

def numberofDaysMonth(month,year):
    if month ==2:
        if isLeapYear (year):
            return 29
        return 28
    elif (month<=7 and month % 2!=0) or (month>=8 and month % 2==0) :
        return 31
    else:
        return 30

def daysInStartYear(startmonth, startyear):
    days=0
    for month in range(startmonth,13):
        days+= numberofDaysMonth(month,startyear)
    return days

def daysInEndYear(endmonth, endyear):
    days=0
    for month in range(1,endmonth+1):
        days+= numberofDaysMonth(month,endyear)
    return days

def numberofhours(startmonth,startyear,endmonth,endyear):
    days = 0
    if startyear != endyear:
        days += daysInStartYear(startmonth, startyear)
        days += daysInEndYear(endmonth, endyear)
        if endyear - startyear == 2: # 2019 - 2017
            days += numberOfDays(startyear+1, startyear+1)
        elif endyear - startyear > 2:
            days += numberOfDays(startyear+1, endyear-1)
    else:
        for month in range(startmonth, endmonth+1):
            days += numberofDaysMonth(month, startyear)
    return 24 * days

numberofhours (6,2018,7,2018)

1464

In [ ]:
# Function to print all numbers  divisible by 6 and 
# not a factor of 100 in a given range(lb,ub)

def divisibleby(lb,ub):
    for i in range(lb,ub+1):
        if(i%6==0 and i%100!=0):
            print (i,end=" ")
            
divisibleby(1,600)

In [46]:
# Function to find the average of cubes all even numbers
# in a given range (lb,ub) inclusive
# 1,10 -> 2,4,6,8,10 -> avg(8,64,216,)
def avgCubesEven(lb,ub):
    sum=0
    count=0
    for i in range(lb,ub+1):
        if i%2==0:
            sum += i**3
            count+=1
    return sum/ count
avgCubesEven(1,3)

8.0

In [46]:
# Function to generate the list of factors for a given number is 
# 12 -> 1 2 3 4 6 12
def factorsList(n):
    sum=0
    for i in range(1, n//2+1):
        if n%i== 0:
            sum+=i
            #print (i, end=" ")
    #print(n)
    return sum
factorslist(6)

6

In [29]:
# Function to calculate the factorial of a given number

def factorial(n):
    fact = 1
   # sum=0
    for i in range (1, n+1):
        fact *= i
        #sum=sum+fact
   # return sum
    return fact
    
factorial(5)

120

In [11]:
# Function to check if a given number is prime
def isprime(n):
    flag=True
    for i in range(2,n//2+1):
        if n%i==0:
            flag=False
        return flag
    
isprime(4)

False

In [37]:
# Function to calculate the average first N prime numbers

def avgNPrimes(n):
    primeCount = 0
    sum = 0
    seqCount = 2
    while(primeCount < n):
        if isprime(seqCount):
            primeCount += 1
            sum += seqCount
            print(seqCount)
        seqCount += 1
    return sum/primeCount


avgNPrimes(10)

2
3
5
7
11
13
17
19
23
29

12.9

In [28]:
# Function to generate all perfect numbers in a given range

#Perfect Number - Sum of all its factors is equal to the number
#6 - 1, 2, 3
def factorsList(n):
    sum=0
    for i in range(1, n//2+1):
        if n%i== 0:
            sum+=i
            #print (i, end=" ")
    #print(n)
    return sum
def isPerfect(n):
    if factorsList(n) == n:
        return True
    return False

def generatePerfect(lb, ub):
    for i in range(lb, ub+1):
        if isPerfect(i):
            print(i, end=" ")
    return

generatePerfect(1, 10000)

6 28 496 8128

## Advanced Problem Set

In [107]:
#Function to calculate  average of all factorials in a given range
def averageproductoffactorials(lb,ub):
    sum=0
    count=0
    for i in range(lb,ub+1):
         if factorial(i):
                sum+=i
                count+=1
    return sum/count
        
averageproductoffactorials(1,5)

3.0

In [106]:
#Function to generate Multiplication tables for a number in a given range
#10 in the range(100,103) inclusive
#10 x 100 =1000
#10 x 101 =1010
#10 x 102 = 1020
#10 x 103 =1030
def mul(a,b):
    counter=1
    for i in range(a,b+1):
        counter*=i
    
mul(10,10)

In [ ]:
# Function to generate N odd armstrong numbers